<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('includes/head') %>
  </head>
  <body>

<!-- syntax that doesn't escape html code into raw text (treats it as html) 
include lets you inject html components.
pass in the path to the ejs file.
Includes takes a 2nd parameter as well, an object with any variables/values so that
the included file (header in this case) has access to dynamic values -->
    <%- include('includes/header') %>

<%- include('includes/side-drawer')%>

    <main>
      <h1>Make the world a tastier place!</h1>
      <p>
        Eatwell is a website for food enthusiasts that allows you to share and
        discover amazing restaurants from all over the world!
      </p>
      <p>
        You don't need to sign up or create any account - you can simply start
        sharing right away!
      </p>
    </main>
  </body>
</html>
